@import url("./global.CSS");

header{
    display: flex; /* modifica o conjuto dos elementos */
    justify-content: space-around; /* organiza na horizontal */
    align-items: center; /* centraliza na vertical o menu */
    padding: 20px 0px;
}

.nav-header ul{
    display: flex;
    list-style: none; /* Tira as bolinhas da lista  */
    gap: 30px;

    }

.nav-header ul li a{
    color: var(--color-secondary-dark);
    text-decoration: none; /* tira as decorações do texto */
    font-family: var(--font-body);
    font-size: 16px;

}

.btn-header{
    background-color: var( --color-primary-orange);
    padding: 12px 30px;
    border-radius: 15px 3px; /* arrendoda as bordas */
    color: var(--color-secondary-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--font-button-size);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 0px; 
}

.content-main{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

h1{
    font-size: var(--font-headline-h1-size);
    font-family: var( --font-title);
    width: 562px;
}
  
.highlighted-word{
    color:var( --color-primary-orange);
}

.content-main p{
    font-size: var( --font-body-size);
    color: var( --color-secondary-l-gray);
    font-family: var(--font-body);
    width: 544px; /* Largura */
    line-height: 30px; /* altura da linha */
}

.container-btn-main{
    display: flex;
    gap:20px;
    
}

.section-differences{
    display: flex;
    flex-direction: column; /*  Deixar em coluna os elementos */
    align-items: center;
    background-color: var(--color-primary-orange-10);
    justify-content: space-around;
    padding: 60px 0px;
    gap: 40px;
   
}

.section-differences h2 {
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
}

.differences-cards{
    display: flex;
    flex-direction: column; /*  Deixar em coluna os elementos */
    align-items: center;
    gap:10px;
    padding: 20px 20px;
    border: 1px solid var(--color-secondary-l-gray);
    border-radius: 10px;
    width: 257PX;
    height: 260PX;
    text-align: center;

}

 .differences-cards h3{
    font-size: var(--font-headline-h3-size);
    font-family: var( --font-title);
    width: 181px;
}

.differences-cards-container{
    display: flex;
    gap:70px;   
}

.differences-cards p{
    font-size: var( --font-body-size);
    color: var( --color-secondary-l-gray);
    font-family: var(--font-body);
    width: 227px; /* Largura */
    line-height: 30px;
   
}


.section-chef{
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: center;
    padding:60px 0px;
}

.content-chef{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.content-chef h2{
    width: 433px;
    line-height: 60px;
    font-family: var(--font-title);
    font-size: var(--font-headline-h2-size);
}

.content-chef p {
    font-family: var(--font-body);
    font-size: var(--font-body-size);
    color: var(--color-secondary-l-gray);
    width: 503px;
    line-height: 30px;


}

.section-featured-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 60px 0px;
    background-color: var(--color-primary-orange-10);
    width: 1512px 748px;
    
    

}

.container-cards-dishes{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 101px;

}

.cards-dishes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 300px;
    background-color: var(--color-secondary-white);
    border: 1px solid #d3d3d3;
    border-radius: 20px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);/* propriedade que coloca sombra no elemento */
    text-align: center;
    padding: 123px 15px 45px 25px;
    position: relative;

}

.cards-dishes img{
    position:absolute; /* absolute: ignora o elemento */
    top: -101px;
}

.cards-dishes h3{
    font-size: var(--font-headline-h3-size);
    font-family: var(--font-title);
    width: 174px;
   
}

.cards-dishes p {
     font-size: var(--font-body-size);
    font-family: var(--font-body);
    line-height: 30px;
    color: var(--color-secondary-l-gray);
    width: 271px;
}